extends layout

block content
  header 
    i(class="fas fa-flag")#logo
    span Welcome to #{title}
    i(class="fas fa-bars")#btn_menu
  
  div#info-panel
    div#infotitle Game Data
    div#gridwrapper
      div(class="info-item")
        div Latency
      div(class="info-item") 
        div#showlatency &nbsp;
      div(class="info-item")
        div Game Status
      div(class="info-item")
        div#gamestatus Pending
      div(class="info-item")
      div(class="info-item")
      div(class="info-item")
      div(class="info-item")
      div(class="info-item")
      div(class="info-item")

  div#container(
    class="container"
    data-flag="false"
    )
    div#info-panel
    div#canvas_container(class="glass")
      canvas#canvas
  
  div#menu
    fieldset#formgroup
      form#userinfo
        h2 Start a New Game
        em 1
        select(required)#gamesize
          option(
            selected
            value="700"
            ) 700px * 700px
        hr
        em 2
        select(required)#goalcount
          option(value="1") 1 Goal
        hr
        em 3
        input(
          type="text"
          placeholder="User Name"
          pattern="[a-z|A-Z|0-9]*"
          required
        )#username
        hr
        em 4
        select(required)#hostorjoin
          option(value="host") Create New Game
          option(
            selected
            value="join"
            ) Join Game
        hr
        div#startgame
          em 5
          input(
            type="text"
            placeholder="Enter Your Game name"
            pattern="[a-z|A-Z|0-9]*"
          )#newgame
          input(
            type="submit"
            value="Start!"
            )#btn_creategame
        div#joingame
          em 5
          select(
            required="true"
          )#gamestojoin
          input(
            type="submit"
            value="Start!"
            )#btn_joingame
        hr
        div#gamesetup Waiting for Player to Start